
.contact__row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.input {
    width: 100%;
    margin-bottom: 3.75rem;

    label {
        display: block;
        margin-bottom: 20px;
    }

    textarea,
    input {
        border: none;
        border-bottom: #707070 2px solid;
        width: 100%;
        padding-bottom: 30px;
    }

    @media (min-width: 800px) {
        + .input {
            margin-left: 150px;
        }
    }
}